{
  "servers": [
    {
      "url": "https://global.pdfvector.com/api"
    }
  ],
  "info": {
    "version": "0.1.21",
    "title": "API Reference",
    "description": "Custom document-processing APIs powered by PDF Vector"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/document/ask": {
      "post": {
        "operationId": "document.ask",
        "summary": "Ask a question about a document",
        "description": "Parse a document and answer a question about its content using AI. Supports PDF, Word (.docx), Excel (.xlsx), CSV, and Image (.png, .jpg) files. Files up to 1000 pages and up to 500MB in size. Provide the document via file upload, a public URL, or a base64-encoded string.",
        "tags": [
          "Document"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the document file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Document file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded document file content"
                  },
                  "question": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The question to answer about the document"
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for answering the question. 'auto' (default): Automatically selects the best tier based on document page count and document complexity. 'nano': Uses lightweight models (likely better than GPT-5-nano). Supports PDF, Word, Excel, CSV. 'mini': Uses mid-range models (likely better than GPT-5-mini). Supports PDF, Word, Excel, CSV. 'pro': Uses capable models (likely better than GPT-5.2). Supports PDF, Word, Excel, CSV, Image. 'max': Uses the most powerful models (likely better than Claude Opus 4.6). Supports PDF, Word, Excel, CSV, Image."
                  }
                },
                "required": [
                  "question"
                ]
              },
              "examples": {
                "Ask from URL": {
                  "summary": "Ask from URL",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "question": "What are the main findings of this study?"
                  }
                },
                "Ask from base64": {
                  "summary": "Ask from base64",
                  "value": {
                    "base64": "JVBERi0xLjAKMSAwIG9iajw8L1R5cGUvQ2F0YWxvZy9QYWdlcyAyIDAgUj4+ZW5kb2JqIDIgMCBvYmo8PC9UeXBlL1BhZ2VzL0tpZHNbMyAwIFJdL0NvdW50IDE+PmVuZG9iaiAzIDAgb2JqPDwvVHlwZS9QYWdlL01lZGlhQm94WzAgMCAzIDNdL1BhcmVudCAyIDAgUj4+ZW5kb2JqCnhyZWYKMCA0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDAwOSAwMDAwMCBuIAowMDAwMDAwMDU4IDAwMDAwIG4gCjAwMDAwMDAxMTUgMDAwMDAgbiAKdHJhaWxlcjw8L1NpemUgNC9Sb290IDEgMCBSPj4Kc3RhcnR4cmVmCjE5MAolJUVPRg==",
                    "question": "What is the content of this document?"
                  }
                },
                "Ask from file upload": {
                  "summary": "Ask from file upload",
                  "value": {
                    "file": "(binary)",
                    "question": "Summarize this document"
                  }
                },
                "Ask with lightweight models (nano)": {
                  "summary": "Ask with lightweight models (nano)",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "question": "What is the title of this paper?",
                    "model": "nano"
                  }
                },
                "Ask with powerful models (max)": {
                  "summary": "Ask with powerful models (max)",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "question": "Provide a detailed analysis of the methodology used in this study.",
                    "model": "max"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the document file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Document file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded document file content"
                  },
                  "question": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The question to answer about the document"
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for answering the question. 'auto' (default): Automatically selects the best tier based on document page count and document complexity. 'nano': Uses lightweight models (likely better than GPT-5-nano). Supports PDF, Word, Excel, CSV. 'mini': Uses mid-range models (likely better than GPT-5-mini). Supports PDF, Word, Excel, CSV. 'pro': Uses capable models (likely better than GPT-5.2). Supports PDF, Word, Excel, CSV, Image. 'max': Uses the most powerful models (likely better than Claude Opus 4.6). Supports PDF, Word, Excel, CSV, Image."
                  }
                },
                "required": [
                  "question"
                ]
              },
              "examples": {
                "Ask from URL": {
                  "summary": "Ask from URL",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "question": "What are the main findings of this study?"
                  }
                },
                "Ask from base64": {
                  "summary": "Ask from base64",
                  "value": {
                    "base64": "JVBERi0xLjAKMSAwIG9iajw8L1R5cGUvQ2F0YWxvZy9QYWdlcyAyIDAgUj4+ZW5kb2JqIDIgMCBvYmo8PC9UeXBlL1BhZ2VzL0tpZHNbMyAwIFJdL0NvdW50IDE+PmVuZG9iaiAzIDAgb2JqPDwvVHlwZS9QYWdlL01lZGlhQm94WzAgMCAzIDNdL1BhcmVudCAyIDAgUj4+ZW5kb2JqCnhyZWYKMCA0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDAwOSAwMDAwMCBuIAowMDAwMDAwMDU4IDAwMDAwIG4gCjAwMDAwMDAxMTUgMDAwMDAgbiAKdHJhaWxlcjw8L1NpemUgNC9Sb290IDEgMCBSPj4Kc3RhcnR4cmVmCjE5MAolJUVPRg==",
                    "question": "What is the content of this document?"
                  }
                },
                "Ask from file upload": {
                  "summary": "Ask from file upload",
                  "value": {
                    "file": "(binary)",
                    "question": "Summarize this document"
                  }
                },
                "Ask with lightweight models (nano)": {
                  "summary": "Ask with lightweight models (nano)",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "question": "What is the title of this paper?",
                    "model": "nano"
                  }
                },
                "Ask with powerful models (max)": {
                  "summary": "Ask with powerful models (max)",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "question": "Provide a detailed analysis of the methodology used in this study.",
                    "model": "max"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markdown": {
                      "type": "string",
                      "description": "The answer to the question"
                    },
                    "model": {
                      "enum": [
                        "nano",
                        "mini",
                        "pro",
                        "max"
                      ],
                      "type": "string",
                      "description": "Model tier used to answer the question. 'nano': Supports PDF, Word, Excel, CSV. 'mini': Supports PDF, Word, Excel, CSV. 'pro': Supports PDF, Word, Excel, CSV, Image. 'max': Supports PDF, Word, Excel, CSV, Image."
                    },
                    "requestId": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "Unique request identifier for this API call"
                    },
                    "documentId": {
                      "type": "string",
                      "description": "Document ID if provided via x-pdfvector-document-id header"
                    }
                  },
                  "required": [
                    "markdown",
                    "model",
                    "requestId"
                  ],
                  "examples": [
                    {
                      "markdown": "The study found that viral shedding peaked during the first week of symptoms, with the highest viral loads detected in throat swabs.",
                      "model": "mini",
                      "requestId": 1
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-pdfvector-document-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "my-doc-123"
            },
            "description": "Optional document ID to associate with this request. Returned in the response and saved for usage tracking."
          }
        ]
      }
    },
    "/document/extract": {
      "post": {
        "operationId": "document.extract",
        "summary": "Extract structured data from a document",
        "description": "Parse a document and extract structured data matching a provided JSON Schema using AI. Supports PDF, Word (.docx), Excel (.xlsx), CSV, and Image (.png, .jpg) files. Files up to 1000 pages and up to 500MB in size. Provide the document via file upload, a public URL, or a base64-encoded string.",
        "tags": [
          "Document"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the document file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Document file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded document file content"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The prompt instructing the AI how to extract data from the document"
                  },
                  "schema": {
                    "anyOf": [
                      {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "JSON Schema describing the structure of the data to extract from the document. Can be a JSON object or a JSON string."
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for extracting structured data. 'auto' (default): Automatically selects the best tier based on document page count and document complexity. 'nano': Uses lightweight models (likely better than GPT-5-nano). Supports PDF, Word, Excel, CSV. 'mini': Uses mid-range models (likely better than GPT-5-mini). Supports PDF, Word, Excel, CSV. 'pro': Uses capable models (likely better than GPT-5.2). Supports PDF, Word, Excel, CSV, Image. 'max': Uses the most powerful models (likely better than Claude Opus 4.6). Supports PDF, Word, Excel, CSV, Image."
                  }
                },
                "required": [
                  "prompt",
                  "schema"
                ]
              },
              "examples": {
                "Extract from URL": {
                  "summary": "Extract from URL",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "prompt": "Extract the title, authors, and publication year from this research paper",
                    "schema": "{\"type\":\"object\",\"properties\":{\"title\":{\"type\":\"string\"},\"authors\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"year\":{\"type\":\"number\"}},\"required\":[\"title\",\"authors\",\"year\"]}"
                  }
                },
                "Extract from base64": {
                  "summary": "Extract from base64",
                  "value": {
                    "base64": "JVBERi0xLjAKMSAwIG9iajw8L1R5cGUvQ2F0YWxvZy9QYWdlcyAyIDAgUj4+ZW5kb2JqIDIgMCBvYmo8PC9UeXBlL1BhZ2VzL0tpZHNbMyAwIFJdL0NvdW50IDE+PmVuZG9iaiAzIDAgb2JqPDwvVHlwZS9QYWdlL01lZGlhQm94WzAgMCAzIDNdL1BhcmVudCAyIDAgUj4+ZW5kb2JqCnhyZWYKMCA0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDAwOSAwMDAwMCBuIAowMDAwMDAwMDU4IDAwMDAwIG4gCjAwMDAwMDAxMTUgMDAwMDAgbiAKdHJhaWxlcjw8L1NpemUgNC9Sb290IDEgMCBSPj4Kc3RhcnR4cmVmCjE5MAolJUVPRg==",
                    "prompt": "Extract the main content from this document",
                    "schema": "{\"type\":\"object\",\"properties\":{\"content\":{\"type\":\"string\"}},\"required\":[\"content\"]}"
                  }
                },
                "Extract from file upload": {
                  "summary": "Extract from file upload",
                  "value": {
                    "file": "(binary)",
                    "prompt": "Extract the title and summary from this document",
                    "schema": "{\"type\":\"object\",\"properties\":{\"title\":{\"type\":\"string\"},\"summary\":{\"type\":\"string\"}},\"required\":[\"title\",\"summary\"]}"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the document file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Document file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded document file content"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The prompt instructing the AI how to extract data from the document"
                  },
                  "schema": {
                    "anyOf": [
                      {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "JSON Schema describing the structure of the data to extract from the document. Can be a JSON object or a JSON string."
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for extracting structured data. 'auto' (default): Automatically selects the best tier based on document page count and document complexity. 'nano': Uses lightweight models (likely better than GPT-5-nano). Supports PDF, Word, Excel, CSV. 'mini': Uses mid-range models (likely better than GPT-5-mini). Supports PDF, Word, Excel, CSV. 'pro': Uses capable models (likely better than GPT-5.2). Supports PDF, Word, Excel, CSV, Image. 'max': Uses the most powerful models (likely better than Claude Opus 4.6). Supports PDF, Word, Excel, CSV, Image."
                  }
                },
                "required": [
                  "prompt",
                  "schema"
                ]
              },
              "examples": {
                "Extract from URL": {
                  "summary": "Extract from URL",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "prompt": "Extract the title, authors, and publication year from this research paper",
                    "schema": "{\"type\":\"object\",\"properties\":{\"title\":{\"type\":\"string\"},\"authors\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"year\":{\"type\":\"number\"}},\"required\":[\"title\",\"authors\",\"year\"]}"
                  }
                },
                "Extract from base64": {
                  "summary": "Extract from base64",
                  "value": {
                    "base64": "JVBERi0xLjAKMSAwIG9iajw8L1R5cGUvQ2F0YWxvZy9QYWdlcyAyIDAgUj4+ZW5kb2JqIDIgMCBvYmo8PC9UeXBlL1BhZ2VzL0tpZHNbMyAwIFJdL0NvdW50IDE+PmVuZG9iaiAzIDAgb2JqPDwvVHlwZS9QYWdlL01lZGlhQm94WzAgMCAzIDNdL1BhcmVudCAyIDAgUj4+ZW5kb2JqCnhyZWYKMCA0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDAwOSAwMDAwMCBuIAowMDAwMDAwMDU4IDAwMDAwIG4gCjAwMDAwMDAxMTUgMDAwMDAgbiAKdHJhaWxlcjw8L1NpemUgNC9Sb290IDEgMCBSPj4Kc3RhcnR4cmVmCjE5MAolJUVPRg==",
                    "prompt": "Extract the main content from this document",
                    "schema": "{\"type\":\"object\",\"properties\":{\"content\":{\"type\":\"string\"}},\"required\":[\"content\"]}"
                  }
                },
                "Extract from file upload": {
                  "summary": "Extract from file upload",
                  "value": {
                    "file": "(binary)",
                    "prompt": "Extract the title and summary from this document",
                    "schema": "{\"type\":\"object\",\"properties\":{\"title\":{\"type\":\"string\"},\"summary\":{\"type\":\"string\"}},\"required\":[\"title\",\"summary\"]}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Extracted structured data matching the provided JSON Schema"
                    },
                    "model": {
                      "enum": [
                        "nano",
                        "mini",
                        "pro",
                        "max"
                      ],
                      "type": "string",
                      "description": "Model tier used to extract the data. 'nano': Supports PDF, Word, Excel, CSV. 'mini': Supports PDF, Word, Excel, CSV. 'pro': Supports PDF, Word, Excel, CSV, Image. 'max': Supports PDF, Word, Excel, CSV, Image."
                    },
                    "requestId": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "Unique request identifier for this API call"
                    },
                    "documentId": {
                      "type": "string",
                      "description": "Document ID if provided via x-pdfvector-document-id header"
                    }
                  },
                  "required": [
                    "model",
                    "requestId"
                  ],
                  "examples": [
                    {
                      "data": {
                        "title": "Virological assessment of hospitalized patients with COVID-2019",
                        "authors": [
                          "Roman Wölfel",
                          "Victor M. Corman"
                        ],
                        "year": 2020
                      },
                      "model": "mini",
                      "requestId": 1
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-pdfvector-document-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "my-doc-123"
            },
            "description": "Optional document ID to associate with this request. Returned in the response and saved for usage tracking."
          }
        ]
      }
    },
    "/document/parse": {
      "post": {
        "operationId": "document.parse",
        "summary": "Parse a document",
        "description": "Extract text and page count from a document. Supports PDF, Word (.docx), Excel (.xlsx), CSV, and Image (.png, .jpg) files. Provide the document via file upload, a public URL, or a base64-encoded string.",
        "tags": [
          "Document"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the document file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Document file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded document file content"
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for parsing. 'auto' (default): Automatically selects the best parsing strategy with intelligent fallback. File up to 1000 pages, up to 500MB in size. Supports PDF, Word, Excel, CSV, Image. 'nano': For simple documents with plain text content. File up to 30 pages, up to 10MB in size. Supports PDF, Word, Excel, CSV. 'mini': For documents with tables and structured content. File up to 30 pages, up to 10MB in size. Supports PDF, Word, Excel, CSV. 'pro': For documents up to 30 pages with tables, handwritten text, figures, math, and Arabic. File up to 30 pages, up to 40MB in size. Supports PDF, Word, Excel, CSV, Image. 'max': For large documents with full Pro capabilities plus enhanced multilingual support. File up to 1000 pages, up to 500MB in size. Supports PDF, Word, Excel, CSV, Image."
                  }
                }
              },
              "examples": {
                "Parse from URL": {
                  "summary": "Parse from URL",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link"
                  }
                },
                "Parse from base64": {
                  "summary": "Parse from base64",
                  "value": {
                    "base64": "JVBERi0xLjAKMSAwIG9iajw8L1R5cGUvQ2F0YWxvZy9QYWdlcyAyIDAgUj4+ZW5kb2JqIDIgMCBvYmo8PC9UeXBlL1BhZ2VzL0tpZHNbMyAwIFJdL0NvdW50IDE+PmVuZG9iaiAzIDAgb2JqPDwvVHlwZS9QYWdlL01lZGlhQm94WzAgMCAzIDNdL1BhcmVudCAyIDAgUj4+ZW5kb2JqCnhyZWYKMCA0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDAwOSAwMDAwMCBuIAowMDAwMDAwMDU4IDAwMDAwIG4gCjAwMDAwMDAxMTUgMDAwMDAgbiAKdHJhaWxlcjw8L1NpemUgNC9Sb290IDEgMCBSPj4Kc3RhcnR4cmVmCjE5MAolJUVPRg=="
                  }
                },
                "Parse from file upload": {
                  "summary": "Parse from file upload",
                  "value": {
                    "file": "(binary)"
                  }
                },
                "Parse with simple PDF (nano)": {
                  "summary": "Parse with simple PDF (nano)",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "model": "nano"
                  }
                },
                "Parse with small complex documents (pro)": {
                  "summary": "Parse with small complex documents (pro)",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "model": "pro"
                  }
                },
                "Parse with large complex documents (max)": {
                  "summary": "Parse with large complex documents (max)",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "model": "max"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the document file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Document file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded document file content"
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for parsing. 'auto' (default): Automatically selects the best parsing strategy with intelligent fallback. File up to 1000 pages, up to 500MB in size. Supports PDF, Word, Excel, CSV, Image. 'nano': For simple documents with plain text content. File up to 30 pages, up to 10MB in size. Supports PDF, Word, Excel, CSV. 'mini': For documents with tables and structured content. File up to 30 pages, up to 10MB in size. Supports PDF, Word, Excel, CSV. 'pro': For documents up to 30 pages with tables, handwritten text, figures, math, and Arabic. File up to 30 pages, up to 40MB in size. Supports PDF, Word, Excel, CSV, Image. 'max': For large documents with full Pro capabilities plus enhanced multilingual support. File up to 1000 pages, up to 500MB in size. Supports PDF, Word, Excel, CSV, Image."
                  }
                }
              },
              "examples": {
                "Parse from URL": {
                  "summary": "Parse from URL",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link"
                  }
                },
                "Parse from base64": {
                  "summary": "Parse from base64",
                  "value": {
                    "base64": "JVBERi0xLjAKMSAwIG9iajw8L1R5cGUvQ2F0YWxvZy9QYWdlcyAyIDAgUj4+ZW5kb2JqIDIgMCBvYmo8PC9UeXBlL1BhZ2VzL0tpZHNbMyAwIFJdL0NvdW50IDE+PmVuZG9iaiAzIDAgb2JqPDwvVHlwZS9QYWdlL01lZGlhQm94WzAgMCAzIDNdL1BhcmVudCAyIDAgUj4+ZW5kb2JqCnhyZWYKMCA0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDAwOSAwMDAwMCBuIAowMDAwMDAwMDU4IDAwMDAwIG4gCjAwMDAwMDAxMTUgMDAwMDAgbiAKdHJhaWxlcjw8L1NpemUgNC9Sb290IDEgMCBSPj4Kc3RhcnR4cmVmCjE5MAolJUVPRg=="
                  }
                },
                "Parse from file upload": {
                  "summary": "Parse from file upload",
                  "value": {
                    "file": "(binary)"
                  }
                },
                "Parse with simple PDF (nano)": {
                  "summary": "Parse with simple PDF (nano)",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "model": "nano"
                  }
                },
                "Parse with small complex documents (pro)": {
                  "summary": "Parse with small complex documents (pro)",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "model": "pro"
                  }
                },
                "Parse with large complex documents (max)": {
                  "summary": "Parse with large complex documents (max)",
                  "value": {
                    "url": "https://drive.google.com/file/d/13T04Yk20OwBNIDyvJJ3XlUg9WfOsmbjm/view?usp=share_link",
                    "model": "max"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markdown": {
                      "type": "string",
                      "description": "Extracted text content from the document"
                    },
                    "pageCount": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "Total number of pages in the document"
                    },
                    "model": {
                      "enum": [
                        "nano",
                        "mini",
                        "pro",
                        "max"
                      ],
                      "type": "string",
                      "description": "Model tier used to parse the document. 'nano': Supports PDF, Word, Excel, CSV. 'mini': Supports PDF, Word, Excel, CSV. 'pro': Supports PDF, Word, Excel, CSV, Image. 'max': Supports PDF, Word, Excel, CSV, Image."
                    },
                    "requestId": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "Unique request identifier for this API call"
                    },
                    "html": {
                      "type": "string",
                      "description": "Full HTML representation of the document content. Only available when using the 'max' model. Preserves rich formatting, tables, selection marks, and visual layout that cannot be fully represented in markdown."
                    },
                    "documentId": {
                      "type": "string",
                      "description": "Document ID if provided via x-pdfvector-document-id header"
                    }
                  },
                  "required": [
                    "markdown",
                    "pageCount",
                    "model",
                    "requestId"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-pdfvector-document-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "my-doc-123"
            },
            "description": "Optional document ID to associate with this request. Returned in the response and saved for usage tracking."
          }
        ]
      }
    },
    "/identity/ask": {
      "post": {
        "operationId": "identity.ask",
        "summary": "Ask a question about an identity document",
        "description": "Parse an identity document and answer a question about its content using AI. Supports PDF, Word (.docx), Excel (.xlsx), CSV, and Image (.png, .jpg) files. Provide the document via file upload, a public URL, or a base64-encoded string.",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the identity document file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Identity document file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded identity document file content"
                  },
                  "question": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The question to answer about the identity document"
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for answering the question. 'auto' (default): Automatically selects the best tier. 'nano': Uses lightweight models. 'mini': Uses mid-range models. 'pro': Uses capable models. 'max': Uses the most powerful models."
                  }
                },
                "required": [
                  "question"
                ]
              },
              "examples": {
                "Ask from URL": {
                  "summary": "Ask from URL",
                  "value": {
                    "url": "https://example.com/identity-document.pdf",
                    "question": "What is the name on this identity document?"
                  }
                },
                "Ask from base64": {
                  "summary": "Ask from base64",
                  "value": {
                    "base64": "JVBERi0xLjAKMSAwIG9iajw8L1R5cGUvQ2F0YWxvZy9QYWdlcyAyIDAgUj4+ZW5kb2JqIDIgMCBvYmo8PC9UeXBlL1BhZ2VzL0tpZHNbMyAwIFJdL0NvdW50IDE+PmVuZG9iaiAzIDAgb2JqPDwvVHlwZS9QYWdlL01lZGlhQm94WzAgMCAzIDNdL1BhcmVudCAyIDAgUj4+ZW5kb2JqCnhyZWYKMCA0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDAwOSAwMDAwMCBuIAowMDAwMDAwMDU4IDAwMDAwIG4gCjAwMDAwMDAxMTUgMDAwMDAgbiAKdHJhaWxlcjw8L1NpemUgNC9Sb290IDEgMCBSPj4Kc3RhcnR4cmVmCjE5MAolJUVPRg==",
                    "question": "What is the document number?"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the identity document file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Identity document file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded identity document file content"
                  },
                  "question": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The question to answer about the identity document"
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for answering the question. 'auto' (default): Automatically selects the best tier. 'nano': Uses lightweight models. 'mini': Uses mid-range models. 'pro': Uses capable models. 'max': Uses the most powerful models."
                  }
                },
                "required": [
                  "question"
                ]
              },
              "examples": {
                "Ask from URL": {
                  "summary": "Ask from URL",
                  "value": {
                    "url": "https://example.com/identity-document.pdf",
                    "question": "What is the name on this identity document?"
                  }
                },
                "Ask from base64": {
                  "summary": "Ask from base64",
                  "value": {
                    "base64": "JVBERi0xLjAKMSAwIG9iajw8L1R5cGUvQ2F0YWxvZy9QYWdlcyAyIDAgUj4+ZW5kb2JqIDIgMCBvYmo8PC9UeXBlL1BhZ2VzL0tpZHNbMyAwIFJdL0NvdW50IDE+PmVuZG9iaiAzIDAgb2JqPDwvVHlwZS9QYWdlL01lZGlhQm94WzAgMCAzIDNdL1BhcmVudCAyIDAgUj4+ZW5kb2JqCnhyZWYKMCA0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDAwOSAwMDAwMCBuIAowMDAwMDAwMDU4IDAwMDAwIG4gCjAwMDAwMDAxMTUgMDAwMDAgbiAKdHJhaWxlcjw8L1NpemUgNC9Sb290IDEgMCBSPj4Kc3RhcnR4cmVmCjE5MAolJUVPRg==",
                    "question": "What is the document number?"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markdown": {
                      "type": "string",
                      "description": "The answer to the question"
                    },
                    "model": {
                      "enum": [
                        "nano",
                        "mini",
                        "pro",
                        "max"
                      ],
                      "type": "string",
                      "description": "Model tier used to answer the question"
                    },
                    "requestId": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "Unique request identifier for this API call"
                    },
                    "documentId": {
                      "type": "string",
                      "description": "Document ID if provided via x-pdfvector-document-id header"
                    }
                  },
                  "required": [
                    "markdown",
                    "model",
                    "requestId"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-pdfvector-document-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "my-doc-123"
            },
            "description": "Optional document ID to associate with this request. Returned in the response and saved for usage tracking."
          }
        ]
      }
    },
    "/identity/extract": {
      "post": {
        "operationId": "identity.extract",
        "summary": "Extract structured data from an identity document",
        "description": "Parse an identity document and extract structured data matching a provided JSON Schema using AI. Supports PDF, Word (.docx), Excel (.xlsx), CSV, and Image (.png, .jpg) files. Provide the document via file upload, a public URL, or a base64-encoded string.",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the identity document file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Identity document file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded identity document file content"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The prompt instructing the AI how to extract data from the identity document"
                  },
                  "schema": {
                    "anyOf": [
                      {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "JSON Schema describing the structure of the data to extract from the identity document. Can be a JSON object or a JSON string."
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for extracting structured data. 'auto' (default): Automatically selects the best tier. 'nano': Uses lightweight models. 'mini': Uses mid-range models. 'pro': Uses capable models. 'max': Uses the most powerful models."
                  }
                },
                "required": [
                  "prompt",
                  "schema"
                ]
              },
              "examples": {
                "Extract from URL": {
                  "summary": "Extract from URL",
                  "value": {
                    "url": "https://example.com/identity-document.pdf",
                    "prompt": "Extract the name, date of birth, and document number",
                    "schema": "{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\"},\"dateOfBirth\":{\"type\":\"string\"},\"documentNumber\":{\"type\":\"string\"}},\"required\":[\"name\",\"dateOfBirth\",\"documentNumber\"]}"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the identity document file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Identity document file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded identity document file content"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The prompt instructing the AI how to extract data from the identity document"
                  },
                  "schema": {
                    "anyOf": [
                      {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "JSON Schema describing the structure of the data to extract from the identity document. Can be a JSON object or a JSON string."
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for extracting structured data. 'auto' (default): Automatically selects the best tier. 'nano': Uses lightweight models. 'mini': Uses mid-range models. 'pro': Uses capable models. 'max': Uses the most powerful models."
                  }
                },
                "required": [
                  "prompt",
                  "schema"
                ]
              },
              "examples": {
                "Extract from URL": {
                  "summary": "Extract from URL",
                  "value": {
                    "url": "https://example.com/identity-document.pdf",
                    "prompt": "Extract the name, date of birth, and document number",
                    "schema": "{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\"},\"dateOfBirth\":{\"type\":\"string\"},\"documentNumber\":{\"type\":\"string\"}},\"required\":[\"name\",\"dateOfBirth\",\"documentNumber\"]}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Extracted structured data matching the provided JSON Schema"
                    },
                    "model": {
                      "enum": [
                        "nano",
                        "mini",
                        "pro",
                        "max"
                      ],
                      "type": "string",
                      "description": "Model tier used to extract the data"
                    },
                    "requestId": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "Unique request identifier for this API call"
                    },
                    "documentId": {
                      "type": "string",
                      "description": "Document ID if provided via x-pdfvector-document-id header"
                    }
                  },
                  "required": [
                    "model",
                    "requestId"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-pdfvector-document-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "my-doc-123"
            },
            "description": "Optional document ID to associate with this request. Returned in the response and saved for usage tracking."
          }
        ]
      }
    },
    "/identity/parse": {
      "post": {
        "operationId": "identity.parse",
        "summary": "Parse an identity document",
        "description": "Extract text and structured data from an identity document. Supports PDF, Word (.docx), Excel (.xlsx), CSV, and Image (.png, .jpg) files. Provide the document via file upload, a public URL, or a base64-encoded string.",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the identity document file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Identity document file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded identity document file content"
                  },
                  "model": {
                    "enum": [
                      "pro",
                      "max",
                      "auto"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for parsing. 'auto' (default): Automatically selects the best parsing strategy with intelligent fallback. 'pro': Extracts structured identity document fields with standard accuracy. 'max': Extracts structured identity document fields with highest accuracy."
                  }
                }
              },
              "examples": {
                "Parse from URL": {
                  "summary": "Parse from URL",
                  "value": {
                    "url": "https://example.com/identity-document.pdf"
                  }
                },
                "Parse from base64": {
                  "summary": "Parse from base64",
                  "value": {
                    "base64": "JVBERi0xLjAKMSAwIG9iajw8L1R5cGUvQ2F0YWxvZy9QYWdlcyAyIDAgUj4+ZW5kb2JqIDIgMCBvYmo8PC9UeXBlL1BhZ2VzL0tpZHNbMyAwIFJdL0NvdW50IDE+PmVuZG9iaiAzIDAgb2JqPDwvVHlwZS9QYWdlL01lZGlhQm94WzAgMCAzIDNdL1BhcmVudCAyIDAgUj4+ZW5kb2JqCnhyZWYKMCA0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDAwOSAwMDAwMCBuIAowMDAwMDAwMDU4IDAwMDAwIG4gCjAwMDAwMDAxMTUgMDAwMDAgbiAKdHJhaWxlcjw8L1NpemUgNC9Sb290IDEgMCBSPj4Kc3RhcnR4cmVmCjE5MAolJUVPRg=="
                  }
                },
                "Parse from file upload": {
                  "summary": "Parse from file upload",
                  "value": {
                    "file": "(binary)"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the identity document file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Identity document file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded identity document file content"
                  },
                  "model": {
                    "enum": [
                      "pro",
                      "max",
                      "auto"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for parsing. 'auto' (default): Automatically selects the best parsing strategy with intelligent fallback. 'pro': Extracts structured identity document fields with standard accuracy. 'max': Extracts structured identity document fields with highest accuracy."
                  }
                }
              },
              "examples": {
                "Parse from URL": {
                  "summary": "Parse from URL",
                  "value": {
                    "url": "https://example.com/identity-document.pdf"
                  }
                },
                "Parse from base64": {
                  "summary": "Parse from base64",
                  "value": {
                    "base64": "JVBERi0xLjAKMSAwIG9iajw8L1R5cGUvQ2F0YWxvZy9QYWdlcyAyIDAgUj4+ZW5kb2JqIDIgMCBvYmo8PC9UeXBlL1BhZ2VzL0tpZHNbMyAwIFJdL0NvdW50IDE+PmVuZG9iaiAzIDAgb2JqPDwvVHlwZS9QYWdlL01lZGlhQm94WzAgMCAzIDNdL1BhcmVudCAyIDAgUj4+ZW5kb2JqCnhyZWYKMCA0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDAwOSAwMDAwMCBuIAowMDAwMDAwMDU4IDAwMDAwIG4gCjAwMDAwMDAxMTUgMDAwMDAgbiAKdHJhaWxlcjw8L1NpemUgNC9Sb290IDEgMCBSPj4Kc3RhcnR4cmVmCjE5MAolJUVPRg=="
                  }
                },
                "Parse from file upload": {
                  "summary": "Parse from file upload",
                  "value": {
                    "file": "(binary)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markdown": {
                      "type": "string",
                      "description": "Extracted text content from the identity document"
                    },
                    "pageCount": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "Total number of pages in the document"
                    },
                    "model": {
                      "enum": [
                        "pro",
                        "max"
                      ],
                      "type": "string",
                      "description": "Model tier used to parse the identity document"
                    },
                    "documentType": {
                      "type": "string",
                      "description": "Detected identity document type (e.g., passport, driver's license)"
                    },
                    "html": {
                      "type": "string",
                      "description": "Full HTML representation of the document content. Only available when using the 'max' model. Preserves rich formatting, tables, selection marks, and visual layout that cannot be fully represented in markdown."
                    },
                    "requestId": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "Unique request identifier for this API call"
                    },
                    "documentId": {
                      "type": "string",
                      "description": "Document ID if provided via x-pdfvector-document-id header"
                    }
                  },
                  "required": [
                    "markdown",
                    "pageCount",
                    "model",
                    "requestId"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-pdfvector-document-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "my-doc-123"
            },
            "description": "Optional document ID to associate with this request. Returned in the response and saved for usage tracking."
          }
        ]
      }
    },
    "/invoice/ask": {
      "post": {
        "operationId": "invoice.ask",
        "summary": "Ask a question about an invoice",
        "description": "Parse an invoice and answer a question about its content using AI. Supports PDF, Word (.docx), Excel (.xlsx), CSV, and Image (.png, .jpg) files. Provide the document via file upload, a public URL, or a base64-encoded string.",
        "tags": [
          "Invoice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the invoice file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Invoice file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded invoice file content"
                  },
                  "question": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The question to answer about the invoice"
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for answering the question. 'auto' (default): Automatically selects the best tier. 'nano': Uses lightweight models. 'mini': Uses mid-range models. 'pro': Uses capable models. 'max': Uses the most powerful models."
                  }
                },
                "required": [
                  "question"
                ]
              },
              "examples": {
                "Ask from URL": {
                  "summary": "Ask from URL",
                  "value": {
                    "url": "https://example.com/invoice.pdf",
                    "question": "What is the total amount on this invoice?"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the invoice file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Invoice file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded invoice file content"
                  },
                  "question": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The question to answer about the invoice"
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for answering the question. 'auto' (default): Automatically selects the best tier. 'nano': Uses lightweight models. 'mini': Uses mid-range models. 'pro': Uses capable models. 'max': Uses the most powerful models."
                  }
                },
                "required": [
                  "question"
                ]
              },
              "examples": {
                "Ask from URL": {
                  "summary": "Ask from URL",
                  "value": {
                    "url": "https://example.com/invoice.pdf",
                    "question": "What is the total amount on this invoice?"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markdown": {
                      "type": "string",
                      "description": "The answer to the question"
                    },
                    "model": {
                      "enum": [
                        "nano",
                        "mini",
                        "pro",
                        "max"
                      ],
                      "type": "string",
                      "description": "Model tier used to answer the question"
                    },
                    "requestId": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "Unique request identifier for this API call"
                    },
                    "documentId": {
                      "type": "string",
                      "description": "Document ID if provided via x-pdfvector-document-id header"
                    }
                  },
                  "required": [
                    "markdown",
                    "model",
                    "requestId"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-pdfvector-document-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "my-doc-123"
            },
            "description": "Optional document ID to associate with this request. Returned in the response and saved for usage tracking."
          }
        ]
      }
    },
    "/invoice/extract": {
      "post": {
        "operationId": "invoice.extract",
        "summary": "Extract structured data from an invoice",
        "description": "Parse an invoice and extract structured data matching a provided JSON Schema using AI. Supports PDF, Word (.docx), Excel (.xlsx), CSV, and Image (.png, .jpg) files. Provide the document via file upload, a public URL, or a base64-encoded string.",
        "tags": [
          "Invoice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the invoice file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Invoice file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded invoice file content"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The prompt instructing the AI how to extract data from the invoice"
                  },
                  "schema": {
                    "anyOf": [
                      {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "JSON Schema describing the structure of the data to extract from the invoice. Can be a JSON object or a JSON string."
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for extracting structured data. 'auto' (default): Automatically selects the best tier. 'nano': Uses lightweight models. 'mini': Uses mid-range models. 'pro': Uses capable models. 'max': Uses the most powerful models."
                  }
                },
                "required": [
                  "prompt",
                  "schema"
                ]
              },
              "examples": {
                "Extract from URL": {
                  "summary": "Extract from URL",
                  "value": {
                    "url": "https://example.com/invoice.pdf",
                    "prompt": "Extract the vendor name, total amount, and line items",
                    "schema": "{\"type\":\"object\",\"properties\":{\"vendorName\":{\"type\":\"string\"},\"totalAmount\":{\"type\":\"number\"},\"lineItems\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"description\":{\"type\":\"string\"},\"amount\":{\"type\":\"number\"}}}}},\"required\":[\"vendorName\",\"totalAmount\"]}"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the invoice file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Invoice file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded invoice file content"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The prompt instructing the AI how to extract data from the invoice"
                  },
                  "schema": {
                    "anyOf": [
                      {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "JSON Schema describing the structure of the data to extract from the invoice. Can be a JSON object or a JSON string."
                  },
                  "model": {
                    "enum": [
                      "auto",
                      "nano",
                      "mini",
                      "pro",
                      "max"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for extracting structured data. 'auto' (default): Automatically selects the best tier. 'nano': Uses lightweight models. 'mini': Uses mid-range models. 'pro': Uses capable models. 'max': Uses the most powerful models."
                  }
                },
                "required": [
                  "prompt",
                  "schema"
                ]
              },
              "examples": {
                "Extract from URL": {
                  "summary": "Extract from URL",
                  "value": {
                    "url": "https://example.com/invoice.pdf",
                    "prompt": "Extract the vendor name, total amount, and line items",
                    "schema": "{\"type\":\"object\",\"properties\":{\"vendorName\":{\"type\":\"string\"},\"totalAmount\":{\"type\":\"number\"},\"lineItems\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"description\":{\"type\":\"string\"},\"amount\":{\"type\":\"number\"}}}}},\"required\":[\"vendorName\",\"totalAmount\"]}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Extracted structured data matching the provided JSON Schema"
                    },
                    "model": {
                      "enum": [
                        "nano",
                        "mini",
                        "pro",
                        "max"
                      ],
                      "type": "string",
                      "description": "Model tier used to extract the data"
                    },
                    "requestId": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "Unique request identifier for this API call"
                    },
                    "documentId": {
                      "type": "string",
                      "description": "Document ID if provided via x-pdfvector-document-id header"
                    }
                  },
                  "required": [
                    "model",
                    "requestId"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-pdfvector-document-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "my-doc-123"
            },
            "description": "Optional document ID to associate with this request. Returned in the response and saved for usage tracking."
          }
        ]
      }
    },
    "/invoice/parse": {
      "post": {
        "operationId": "invoice.parse",
        "summary": "Parse an invoice",
        "description": "Extract text and structured data from an invoice. Supports PDF, Word (.docx), Excel (.xlsx), CSV, and Image (.png, .jpg) files. Provide the document via file upload, a public URL, or a base64-encoded string.",
        "tags": [
          "Invoice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the invoice file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Invoice file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded invoice file content"
                  },
                  "model": {
                    "enum": [
                      "pro",
                      "max",
                      "auto"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for parsing. 'auto' (default): Automatically selects the best parsing strategy with intelligent fallback. 'pro': Extracts structured invoice fields with standard accuracy. 'max': Extracts structured invoice fields with highest accuracy and fallback."
                  }
                }
              },
              "examples": {
                "Parse from URL": {
                  "summary": "Parse from URL",
                  "value": {
                    "url": "https://example.com/invoice.pdf"
                  }
                },
                "Parse from base64": {
                  "summary": "Parse from base64",
                  "value": {
                    "base64": "JVBERi0xLjAKMSAwIG9iajw8L1R5cGUvQ2F0YWxvZy9QYWdlcyAyIDAgUj4+ZW5kb2JqIDIgMCBvYmo8PC9UeXBlL1BhZ2VzL0tpZHNbMyAwIFJdL0NvdW50IDE+PmVuZG9iaiAzIDAgb2JqPDwvVHlwZS9QYWdlL01lZGlhQm94WzAgMCAzIDNdL1BhcmVudCAyIDAgUj4+ZW5kb2JqCnhyZWYKMCA0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDAwOSAwMDAwMCBuIAowMDAwMDAwMDU4IDAwMDAwIG4gCjAwMDAwMDAxMTUgMDAwMDAgbiAKdHJhaWxlcjw8L1NpemUgNC9Sb290IDEgMCBSPj4Kc3RhcnR4cmVmCjE5MAolJUVPRg=="
                  }
                },
                "Parse from file upload": {
                  "summary": "Parse from file upload",
                  "value": {
                    "file": "(binary)"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the invoice file to fetch and parse"
                  },
                  "file": {
                    "anyOf": [
                      {
                        "type": "string",
                        "contentMediaType": "application/pdf"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "text/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "application/csv"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/png"
                      },
                      {
                        "type": "string",
                        "contentMediaType": "image/jpeg"
                      }
                    ],
                    "description": "Invoice file upload via multipart form-data (PDF, DOCX, XLSX, CSV, PNG, JPG)"
                  },
                  "base64": {
                    "type": "string",
                    "description": "Base64-encoded invoice file content"
                  },
                  "model": {
                    "enum": [
                      "pro",
                      "max",
                      "auto"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Model tier for parsing. 'auto' (default): Automatically selects the best parsing strategy with intelligent fallback. 'pro': Extracts structured invoice fields with standard accuracy. 'max': Extracts structured invoice fields with highest accuracy and fallback."
                  }
                }
              },
              "examples": {
                "Parse from URL": {
                  "summary": "Parse from URL",
                  "value": {
[...]
